# Preprocessing data for figure 4a

The code presenteed below allows to create the dataset used for reproducing **Figure 4a**.

In [143]:
# read data with rppa data
data_sample = pd.read_csv('data/data_clinical_sample.txt',delimiter='\t',header=2,skiprows=range(0, 2))

data_sample.head(2)

,PATIENT_ID,SAMPLE_ID,OTHER_SAMPLE_ID,DAYS_TO_COLLECTION,IS_FFPE,OCT_EMBEDDED,PATHOLOGY_REPORT_FILE_NAME,SURGICAL_PROCEDURE_FIRST,FIRST_SURGICAL_PROCEDURE_OTHER,SURGERY_FOR_POSITIVE_MARGINS,...,DISEASE_CODE,METASTATIC_TUMOR_INDICATOR,PROJECT_CODE,TISSUE_SOURCE_SITE,TUMOR_TISSUE_SITE,CANCER_TYPE,CANCER_TYPE_DETAILED,ONCOTREE_CODE,SAMPLE_TYPE,SOMATIC_STATUS
0,TCGA-LQ-A4E4,TCGA-LQ-A4E4-01,8C8D4BD4-3AA9-4AD1-9715-2376EE540A0C,414,NO,TRUE,TCGA-LQ-A4E4.C13D16C9-BAC7-4CA4-B062-D925466F9...,Modified Radical Mastectomy,[Not Available],[Not Available],...,[Not Available],[Not Available],[Not Available],LQ,Breast,Invasive Breast Carcinoma,Breast Invasive Lobular Carcinoma,ILC,Primary,Matched
1,TCGA-A2-A3KC,TCGA-A2-A3KC-01,8318A9A4-E78E-4DB8-97C7-2CC733D0C512,299,NO,TRUE,TCGA-A2-A3KC.593AF241-8F84-4BA0-8878-7C1CE72A4...,Simple Mastectomy,[Not Available],[Not Available],...,[Not Available],NO,[Not Available],A2,Breast,Invasive Breast Carcinoma,Breast Invasive Lobular Carcinoma,ILC,Primary,Matched

In [144]:
#selecting the columns of interest.
data_sample=data_sample[['PATIENT_ID','SAMPLE_ID','CANCER_TYPE_DETAILED','ER_STATUS_BY_IHC','PR_STATUS_BY_IHC','IHC_HER2','ONCOTREE_CODE']]

In [145]:
#select only rows containing ILC and IDC 
data_IDC=data_sample[data_sample.ONCOTREE_CODE=='IDC']
data_ILC=data_sample[data_sample.ONCOTREE_CODE=='ILC']

## Part 1: Selection of luminal A IDC and luminal A ILC samples

In [146]:
# read data with rppa data/ mmc2
data_A = pd.read_excel('data/lumA.xlsx',header=1,skiprows=range(0, 1))

data_A.head(2)

,Case.ID,Final Pathology,PAM50,TumorPurity,ProliferationScore,mRNA,miRNA,SNP,Exome,Methylation,...,Hormone_a score,Hormone_b score,PI3K/Akt score,Ras/MAPK score,RTK score,TSC/mTOR score,ISOpure,OncoSign,ElasticNet,Unnamed: 27
0,TCGA-BH-A18G,IDC,Basal,0.79,0.423067,TCGA-BH-A18G-01A-11R-A12D-07,TCGA-BH-A18G-01A-11R-A12C-13,TCGA-BH-A18G-01A-11D-A12A-01,TCGA-BH-A18G-01A-11D-A12B-09,TCGA-BH-A18G-01A-11D-A12E-05,...,-1.873243,-0.120416,-3.469006,0.94358,-1.421711,1.376493,NaN,NaN,NaN,IDC-like
1,TCGA-A1-A0SP,IDC,Basal,0.46,0.262933,TCGA-A1-A0SP-01A-11R-A084-07,TCGA-A1-A0SP-01A-11R-A085-13,TCGA-A1-A0SP-01A-11D-A087-01,TCGA-A1-A0SP-01A-11D-A099-09,TCGA-A1-A0SP-01A-11D-A10P-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ILC-like

In [147]:
#selectiong only luminal A samples from IDC and ILc
data_A=data_A[data_A['PAM50']== 'LumA']
data_A.head(2)

,Case.ID,Final Pathology,PAM50,TumorPurity,ProliferationScore,mRNA,miRNA,SNP,Exome,Methylation,...,Hormone_a score,Hormone_b score,PI3K/Akt score,Ras/MAPK score,RTK score,TSC/mTOR score,ISOpure,OncoSign,ElasticNet,Unnamed: 27
158,TCGA-B6-A0IG,IDC,LumA,0.73,-0.568397,TCGA-B6-A0IG-01A-11R-A034-07,TCGA-B6-A0IG-01A-11R-A035-13,TCGA-B6-A0IG-01A-11D-A036-01,TCGA-B6-A0IG-01A-11W-A050-09,TCGA-B6-A0IG-01A-11D-A032-05,...,2.012295,6.472142,-3.327236,3.454363,2.743972,0.599048,NaN,NaN,NaN,NaN
159,TCGA-BH-A0HQ,IDC,LumA,0.52,-0.821974,TCGA-BH-A0HQ-01A-11R-A034-07,TCGA-BH-A0HQ-01A-11R-A035-13,TCGA-BH-A0HQ-01A-11D-A036-01,TCGA-BH-A0HQ-01A-11W-A050-09,TCGA-BH-A0HQ-01A-11D-A032-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [148]:
#data with boh IDC and ILC samples that are luminal A 
data_both=data_A[(data_A['Final Pathology']=='IDC') | (data_A['Final Pathology']=='ILC')]

In [149]:
#data with seperate histological subtype
data_A_IDC=data_A[data_A['Final Pathology']=='IDC']
data_A_ILC=data_A[data_A['Final Pathology']=='ILC']

In [150]:
#patient id with IDC
selected_patients_IDC=data_A_IDC['Case.ID']
selected_patients_IDC

158    TCGA-B6-A0IG
159    TCGA-BH-A0HQ
160    TCGA-A1-A0SD
161    TCGA-A1-A0SF
162    TCGA-A1-A0SJ
           ...
354    TCGA-GM-A2DI
355    TCGA-GM-A2DK
356    TCGA-GM-A2DL
357    TCGA-GM-A2DN
358    TCGA-LL-A5YN
Name: Case.ID, Length: 201, dtype: object

In [151]:
#patient id with ILC
selected_patients_ILC=data_A_ILC['Case.ID']
selected_patients_ILC

493    TCGA-A1-A0SE
494    TCGA-A2-A0CK
495    TCGA-A2-A0CO
496    TCGA-A2-A0EN
497    TCGA-A2-A0EP
           ...
594    TCGA-MS-A51U
595    TCGA-OL-A66K
596    TCGA-A2-A0CR
597    TCGA-A7-A13H
598    TCGA-AC-A62Y
Name: Case.ID, Length: 106, dtype: object

In [152]:
#patient id with IDc or ILC
selected_patients_both=data_both['Case.ID']
selected_patients_both

158    TCGA-B6-A0IG
159    TCGA-BH-A0HQ
160    TCGA-A1-A0SD
161    TCGA-A1-A0SF
162    TCGA-A1-A0SJ
           ...
594    TCGA-MS-A51U
595    TCGA-OL-A66K
596    TCGA-A2-A0CR
597    TCGA-A7-A13H
598    TCGA-AC-A62Y
Name: Case.ID, Length: 307, dtype: object

In [153]:
#keep only patient that are luminal A 
data_IDC=data_IDC[data_IDC.PATIENT_ID.isin(selected_patients_IDC)]
data_ILC=data_ILC[data_ILC.PATIENT_ID.isin(selected_patients_ILC)]

In [154]:
data_both=data_sample[data_sample.PATIENT_ID.isin(selected_patients_both)]

In [155]:
#keep the column of interest
data_both=data_both[['SAMPLE_ID','ONCOTREE_CODE']]
data_both

           SAMPLE_ID ONCOTREE_CODE
0    TCGA-LQ-A4E4-01           ILC
1    TCGA-A2-A3KC-01           ILC
3    TCGA-A7-A0D9-01           IDC
5    TCGA-A7-A0CD-01           IDC
9    TCGA-A7-A0CH-01           IDC
..               ...           ...
800  TCGA-BH-A0B5-01           ILC
801  TCGA-BH-A0BJ-01           IDC
807  TCGA-BH-A201-01           IDC
810  TCGA-BH-A0BA-01           ILC
817  TCGA-BH-A1ES-06          BRCA

[308 rows x 2 columns]

In [156]:
data_both.rename(columns={"SAMPLE_ID": "sample_id", "ONCOTREE_CODE": "group"},inplace=True)

In [158]:
#sample id of patient with ILC or IDC 
selected_ILC=data_ILC['SAMPLE_ID']
selected_IDC=data_IDC['SAMPLE_ID']

## Part 2: Selecting only ILC and IDC samples fron RPPA data

In [159]:
# read data with rppa data
data_rppa = pd.read_csv('data2/data_rppa.txt',delimiter='\t')
data_rppa.head(2)

,Composite.Element.REF,TCGA-EW-A2FR-01,TCGA-EW-A2FS-01,TCGA-EW-A2FW-01,TCGA-EW-A2FV-01,TCGA-EW-A1PC-01,TCGA-GM-A2DD-01,TCGA-BH-A0B6-01,TCGA-A2-A0CK-01,TCGA-AC-A2BK-01,...,TCGA-LL-A5YM-01,TCGA-LL-A5YL-01,TCGA-LL-A5YP-01,TCGA-LL-A5YO-01,TCGA-OL-A66K-01,TCGA-OL-A66J-01,TCGA-OL-A66I-01,TCGA-A2-A4RY-01,TCGA-A2-A4S3-01,TCGA-EW-A423-01
0,YWHAE|14-3-3_epsilon,-0.099979,-0.21758,0.19681,-0.10105,-0.028874,0.30889,-0.16342,0.005556,0.053787,...,0.12024,0.15326,0.037435,-0.16879,0.16306,-0.30825,0.14480,0.39357,0.13181,0.087545
1,EIF4EBP1|4E-BP1,1.190600,-0.85584,-0.23104,-0.63473,0.018278,-0.31175,-0.61144,-0.342500,0.727660,...,0.19099,-0.39995,0.254980,0.18848,-0.44997,0.11844,-0.34344,-0.37800,0.50424,-0.507860

In [160]:
#only keep column where the sample is IDC  and add protein columns
rppa_IDC = data_rppa[data_rppa.columns.intersection(selected_IDC)]
rppa_IDC['protein']=data_rppa['Composite.Element.REF']

In [161]:
#only keep column where the sample is ILC and add protein columns
rppa_ILC = data_rppa[data_rppa.columns.intersection(selected_ILC)]
rppa_ILC['protein']=data_rppa['Composite.Element.REF']

In [165]:
#keep only the protein name

new=rppa_ILC["protein"].str.split("|", n = 1, expand = True) 
rppa_ILC["protein"]=new[1]

new=rppa_IDC["protein"].str.split("|", n = 1, expand = True) 
rppa_IDC["protein"]=new[1]

In [167]:
#protein of interest
protein_list=['STAT3_pY705','PI3K-p110-alpha','PI3K-p85','PTEN','INPP4B','Akt','Akt_pS473','Akt_pT308','EGFR','EGFR_pY1068','EGFR_pY1173','mTOR_pS2448','p70S6K_pT389','PI3K']

## Part 3: columns reordering

In [168]:
#keep the protein of interest
rppa_ILC=rppa_ILC[rppa_ILC.protein.isin(protein_list)]
rppa_IDC=rppa_IDC[rppa_IDC.protein.isin(protein_list)]

In [170]:
#create a list of protein
protein=rppa_IDC['protein']

In [171]:
rppa_IDC.drop(columns=['protein'],inplace=True)

In [172]:
rppa_IDC.loc[0]=list(rppa_IDC.mean(axis=0))
#rppa_IDC.mean(axis=0)

In [173]:
rppa_IDC=rppa_IDC.T

In [174]:
rppa_IDC=rppa_IDC.sort_values(by=[0])

In [175]:
rppa_IDC.drop(columns=[0],inplace=True)

In [176]:
rppa_IDC=rppa_IDC.T

In [177]:
rppa_IDC['protein']=protein

In [204]:
rppa_ILC.drop(columns=['protein'],inplace=True)
rppa_ILC.loc[0]=list(rppa_ILC.mean(axis=0))
rppa_ILC=rppa_ILC.T

In [205]:
rppa_ILC=rppa_ILC.sort_values(by=[0])
rppa_ILC.drop(columns=[0],inplace=True)
rppa_ILC=rppa_ILC.T
rppa_ILC['protein']=protein

## Part 4: Final data with both ILC and IDC samples in the right order

In [206]:
#final rppa data
df= pd.concat([rppa_IDC,rppa_ILC], axis=1)

In [208]:
lista=list(df.columns)

In [209]:
data_both=data_both[data_both['sample_id'].isin(lista)]

In [210]:
data_both

           sample_id group
0    TCGA-LQ-A4E4-01   ILC
1    TCGA-A2-A3KC-01   ILC
3    TCGA-A7-A0D9-01   IDC
5    TCGA-A7-A0CD-01   IDC
9    TCGA-A7-A0CH-01   IDC
..               ...   ...
796  TCGA-BH-A0B6-01   IDC
800  TCGA-BH-A0B5-01   ILC
801  TCGA-BH-A0BJ-01   IDC
807  TCGA-BH-A201-01   IDC
810  TCGA-BH-A0BA-01   ILC

[235 rows x 2 columns]

In [212]:
df.head()

,TCGA-BH-A0AY-01,TCGA-EW-A1PA-01,TCGA-E2-A15F-01,TCGA-E9-A1R6-01,TCGA-EW-A1P3-01,TCGA-E9-A22B-01,TCGA-BH-A1FE-01,TCGA-BH-A0DS-01,TCGA-AR-A0U3-01,TCGA-AQ-A1H2-01,...,TCGA-AC-A3W6-01,TCGA-A2-A0EP-01,TCGA-A7-A3J1-01,TCGA-AR-A2LJ-01,TCGA-AR-A1AL-01,TCGA-E2-A1B5-01,TCGA-D8-A1X8-01,TCGA-AC-A3HN-01,TCGA-AR-A2LN-01,protein
7,-0.449710,-0.71486,-0.80726,-1.228100,-1.181100,0.14182,-0.32900,-0.25415,0.41981,0.23631,...,0.26789,-0.074937,0.079328,-0.14274,-0.49453,-0.15264,0.282560,-0.087611,0.07553,Akt
8,-1.271100,-1.69390,-0.55960,-0.022269,-1.501300,-1.27340,-1.20180,-0.44949,-0.49427,-0.72830,...,1.64640,1.192400,0.551300,0.73974,1.00710,1.29670,1.526700,1.292000,1.27800,Akt_pS473
9,-1.020000,-0.60179,-0.54727,0.398250,-0.866230,-1.29150,-1.15700,-1.22520,-0.71535,-0.93232,...,1.15890,0.907490,0.346540,0.53966,0.85133,1.24170,0.709920,0.836320,1.16210,Akt_pT308
49,-0.300890,-0.40852,-0.61977,0.462950,-0.131960,-0.36431,-0.23516,-0.25447,-0.58493,-0.51951,...,-0.18810,-0.081189,-0.326790,-0.12347,-0.15029,0.31710,-0.314250,0.424980,0.37379,EGFR
50,0.011855,0.33435,-0.27289,0.340270,0.016387,-0.15151,-0.11079,-0.28792,-0.18953,-0.48132,...,0.34556,-0.022297,0.520750,0.67096,0.69373,0.54893,-0.048629,0.746320,0.45179,EGFR_pY1068

In [215]:
#data_both.to_csv('data/data_rppa_sample.txt',index=False)

In [216]:
data_both

           sample_id group
0    TCGA-LQ-A4E4-01   ILC
1    TCGA-A2-A3KC-01   ILC
3    TCGA-A7-A0D9-01   IDC
5    TCGA-A7-A0CD-01   IDC
9    TCGA-A7-A0CH-01   IDC
..               ...   ...
796  TCGA-BH-A0B6-01   IDC
800  TCGA-BH-A0B5-01   ILC
801  TCGA-BH-A0BJ-01   IDC
807  TCGA-BH-A201-01   IDC
810  TCGA-BH-A0BA-01   ILC

[235 rows x 2 columns]

In [217]:
tdf=df.copy()

In [218]:
tdf.drop(columns=['protein'],inplace=True)

In [219]:
tdf=tdf.T

In [220]:
tdf.reset_index(inplace=True)

In [221]:
tdf=pd.merge(tdf,data_both,left_on='index',right_on='sample_id')

In [222]:
tdf.drop(columns=['index','sample_id'],inplace=True)

In [223]:
tdf.set_index('group',inplace=True)

In [224]:
tdf=tdf.T

In [225]:
prot=rppa_IDC['protein']

In [226]:
tdf['protein']=prot

In [229]:
tdf.to_csv('data/data_rppa_group_order.txt',index=False)

In [230]:
#data_tdf = pd.read_csv('data/data_rppa_group.txt')

In [231]:
data_tdf

,IDC,IDC.1,IDC.2,IDC.3,IDC.4,IDC.5,IDC.6,IDC.7,IDC.8,IDC.9,...,ILC.67,ILC.68,ILC.69,ILC.70,ILC.71,ILC.72,ILC.73,ILC.74,ILC.75,protein
0,-0.271700,-0.064707,0.190430,-0.149760,-0.322810,0.16004,0.280420,0.408250,0.20429,0.079475,...,-0.155080,0.127440,-0.097550,0.054358,0.306450,0.197810,0.339430,0.203150,-0.274750,Akt
1,-0.680710,0.402310,-0.121190,-0.126490,-0.659600,-0.15051,0.554730,-1.207900,1.58930,-0.678100,...,-0.373770,-0.097849,0.459460,-0.109950,0.090233,1.333000,0.447150,0.210530,-0.504110,Akt_pS473
2,-0.542100,0.172850,-0.516590,-0.289080,-0.821440,-0.14482,0.014339,-1.028700,1.26900,-0.362340,...,-0.293030,-0.384010,0.247910,-0.308080,-0.224080,0.796990,0.084724,-0.051976,-0.049495,Akt_pT308
3,0.067952,-0.199700,-0.192740,-0.274510,-0.303930,-0.16527,-0.391760,-0.303210,-0.58855,-0.262420,...,-0.216080,-0.035522,0.412580,-0.155370,-0.360140,-0.258310,-0.426590,-0.283660,-0.123320,EGFR
4,-0.047004,0.276000,0.022061,0.048393,0.031047,0.58825,-0.059510,-0.186750,-0.14781,-0.260510,...,0.299570,0.180010,0.810940,0.090722,0.318920,0.578300,0.181990,0.234590,0.035092,EGFR_pY1068
5,-0.265040,-0.038818,-0.222600,-0.157130,-0.308060,-0.12430,-0.033089,-0.040859,-0.13225,-0.032186,...,0.568250,0.432160,0.505430,0.441340,0.173630,0.115650,-0.165950,-0.350980,0.633170,EGFR_pY1173
6,2.739600,0.781000,1.412800,1.738900,2.654600,0.48700,-0.360180,0.746340,3.61980,2.393100,...,1.719400,3.265500,1.380300,0.718690,1.773300,0.917160,2.355000,0.587570,1.042700,INPP4B
7,0.358570,0.108540,0.101860,-0.035295,0.085564,0.23460,0.250640,0.000510,0.28113,-0.043295,...,-0.375310,0.017777,0.032813,-0.159770,0.062486,0.084126,0.006407,-0.143350,-0.140400,mTOR_pS2448
8,0.399930,0.049371,0.340410,-0.008341,0.555150,0.86817,0.034261,0.196280,-0.17169,-0.073007,...,0.074630,-0.142290,0.120160,-0.101740,0.210300,1.239200,-0.642310,-0.348950,0.004157,p70S6K_pT389
9,0.213140,0.017417,0.430600,0.030516,0.222920,0.17535,-0.137920,0.451610,0.19535,0.370980,...,-0.015317,0.289430,0.310190,0.094863,0.333460,-0.058208,0.223810,-0.056138,-0.067708,PI3K-p110-alpha
10,-0.346740,0.354010,0.381090,0.080339,-0.251820,0.11506,0.804960,-0.603850,0.57601,-0.110550,...,0.049024,-0.815870,-0.654590,-0.176620,-0.255060,-0.085720,0.230930,0.170360,-0.794180,PTEN
11,0.712730,-0.056455,0.503150,0.167960,0.606890,0.88710,0.461400,0.149420,0.23665,-0.201780,...,0.828830,0.392130,0.089618,-0.196780,-0.038768,-0.091143,0.360140,0.095108,0.901810,STAT3_pY705
12,0.102250,0.413950,0.351940,0.170230,0.291580,0.16353,0.079335,0.485540,0.34797,-0.056164,...,-0.292540,0.201280,0.057773,0.230450,0.179800,0.229950,0.331250,0.471390,-0.254490,PI3K-p85

In [199]:
col_name=pd.DataFrame(tdf.columns)

In [200]:
col_name=col_name[col_name['group']!='protein']

In [201]:
col_name

    group
0     IDC
1     IDC
2     IDC
3     IDC
4     IDC
..    ...
230   ILC
231   ILC
232   ILC
233   ILC
234   ILC

[235 rows x 1 columns]

In [202]:
#col_name.to_csv('data/data_rppa_group_colname.txt',index=False)